## **Scraping Data Aplikasi SEA BANK SHOOPE Di Google Play Store**

Menggunakan tools ```google-play-scraper``` untuk mengambil data ulasan pengguna.

In [1]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.7-py3-none-any.whl.metadata (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.2/50.2 kB 2.5 MB/s eta 0:00:00
Downloading google_play_scraper-1.2.7-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.7

In [2]:
# Import google-play-scraper
from google_play_scraper import reviews_all, reviews

In [3]:
# Mengambil ulasan pengguna aplikasi SEA BANK SHOOPE
results, _ = reviews(
    'id.co.bankbkemobile.digitalbank',
    lang='id',
    country='id',
    count=2000
)

In [4]:
# Preview hasil scraping
results[0]

{'reviewId': 'aaeaddc6-6d4b-410a-8dfd-eb87ca7ac33a',
 'userName': 'Gondering Ctm II',
 'userImage': 'https://play-lh.googleusercontent.com/a/ACg8ocLYfejToa53C-eokgIHbUZxgNCcWpf9T0JhGTdsfDRAdjmxaQ=mo',
 'content': 'good',
 'score': 5,
 'thumbsUpCount': 0,
 'reviewCreatedVersion': '3.36.0',
 'at': datetime.datetime(2026, 2, 14, 14, 17, 12),
 'replyContent': None,
 'repliedAt': None,
 'appVersion': '3.36.0'}

In [5]:
# Cek jumlah data yang telah di-scrape
len(results[0])

11

## **Mengubah Data Scrape ke Dalam Dataframe**

Menggunakna library ```pandas DataFrame``` untuk mengubah data hasil scrape ke dalam format dataframe.

In [6]:
# Simpan data hasil scrape ke dalam dataframe
import pandas as pd
df = pd.DataFrame(results)
df

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,aaeaddc6-6d4b-410a-8dfd-eb87ca7ac33a,Gondering Ctm II,https://play-lh.googleusercontent.com/a/ACg8oc...,good,5,0,3.36.0,2026-02-14 14:17:12,None,NaT,3.36.0
1,cca25e1e-9f1b-4c76-9eb4-c32cbc6d5653,rohman rohman,https://play-lh.googleusercontent.com/a/ACg8oc...,enak dan mudah,3,0,3.38.0,2026-02-14 14:15:11,"Hai Sobat SeaBank, terima kasih untuk reviewny...",2026-02-14 18:41:38,3.38.0
2,a379ef06-7b42-4372-b325-5e10144094d1,dandy bae,https://play-lh.googleusercontent.com/a-/ALV-U...,bagus,5,0,3.36.0,2026-02-14 14:12:36,None,NaT,3.36.0
3,3c7a68cd-4d66-4a2d-9b08-98aa18ecbb01,Sarip Hidayat,https://play-lh.googleusercontent.com/a-/ALV-U...,mudah digunakan & cepat semua prosesnya top lah,5,0,3.38.0,2026-02-14 14:09:52,None,NaT,3.38.0
4,98d3034e-2f07-48f2-bca5-829a792cda50,Hendi Saputra,https://play-lh.googleusercontent.com/a/ACg8oc...,sangat puas,5,0,3.38.0,2026-02-14 14:08:07,None,NaT,3.38.0
...,...,...,...,...,...,...,...,...,...,...,...
1995,bff35b96-cc7d-45d3-b997-1d43a5060aed,Muhamad Jaelani,https://play-lh.googleusercontent.com/a/ACg8oc...,mantap,5,0,3.36.0,2026-02-10 11:17:12,None,NaT,3.36.0
1996,25f12483-2db2-4f49-9993-b7f317095a9f,Samuel Crisian,https://play-lh.googleusercontent.com/a/ACg8oc...,cepat proses,4,0,3.36.0,2026-02-10 11:16:34,None,NaT,3.36.0
1997,68af32f9-98f6-44f7-9dfd-656a4e2eec27,Rivaldi Fatah,https://play-lh.googleusercontent.com/a-/ALV-U...,sangat bagus,5,0,3.36.0,2026-02-10 11:12:20,None,NaT,3.36.0
1998,0130c65c-f10d-4686-9df2-ca5f661e3782,dede naufal,https://play-lh.googleusercontent.com/a-/ALV-U...,muantap,5,0,3.36.0,2026-02-10 11:08:49,None,NaT,3.36.0
1999,b8a96c89-166f-40ae-b8aa-be1aa28b7983,Zaki Mubarak,https://play-lh.googleusercontent.com/a-/ALV-U...,sulit,3,0,3.36.0,2026-02-10 11:05:02,Hi Sobat SeaBank. Mohon maaf atas ketidaknyama...,2026-02-10 12:33:55,3.36.0

## **Manipulasi Dataframe (Hanya Ambil Kolom Ulasannya)**

In [7]:
# Buat salinan dataframe scrape
df_copy = df.copy()

In [8]:
# Cek informasi salinan
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reviewId              2000 non-null   object
 1   userName              2000 non-null   object
 2   userImage             2000 non-null   object
 3   content               2000 non-null   object
 4   score                 2000 non-null   int64
 5   thumbsUpCount         2000 non-null   int64
 6   reviewCreatedVersion  1817 non-null   object
 7   at                    2000 non-null   datetime64[ns]
 8   replyContent          284 non-null    object
 9   repliedAt             284 non-null    datetime64[ns]
 10  appVersion            1817 non-null   object
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 172.0+ KB

In [9]:
# Simpan hanya kolom 'reviewID' dan 'content' yang berisi ulasan pengguna
Seabank_reviews = df_copy[['content']]
Seabank_reviews

                                              content
0                                                good
1                                      enak dan mudah
2                                               bagus
3     mudah digunakan & cepat semua prosesnya top lah
4                                         sangat puas
...                                               ...
1995                                           mantap
1996                                     cepat proses
1997                                     sangat bagus
1998                                          muantap
1999                                            sulit

[2000 rows x 1 columns]

In [10]:
# Simpan dataframe signal ke format .csv
Seabank_reviews.to_csv('seabank_reviews.csv', index=False)